<div style="margin:100px;">
    <div style="text-align:center; height:200px; width:200px;">
        <img height="100px" width="100px" src="/images/cat_example.png" />
        <h2>Lorum ipsum</h2>
        <p>Lorem ipsum dolor sit amet</p>
        <p>Lorem ipsum dolor sit amet</p>
        <p>Lorem ipsum dolor sit amet</p>
        <button style="margin:15px;">Take</button>
    </div>
</div>